.App {
  text-align: center;
}


.tb-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  flex-shrink: 0;
  margin: 0;
  border-radius: 4px;
  user-select: none;
  border: 1px solid rgb(62, 66, 90);
  box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px;
  background-color: rgb(38, 41, 57);
  color: rgb(228, 229, 244);
  min-width: 28px;
  height: 28px;
  padding: 0 14px;
  gap: 4px;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  &:hover {
    background-color: rgb(91, 96, 125);
    border-color: rgb(69, 73, 97);
  
  }

  &:disabled {
    background-color: rgb(74, 78, 98);
    border-color: rgb(69, 73, 97);
  
  }
}


.tb-button.tb-loading {
  background-color: rgba(220, 220, 236, 0.25);
}

.tb-dialog {
  z-index: 1001;
  position: relative;
  left: calc((100vw - 600px) / 2);
  top: 20px;
  width: 600px !important;
  height: 240px !important;
  text-align: left;
  pointer-events: auto;
  * {
    pointer-events: auto;
  }

  .title-bar {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    background-color: rgb(32, 33, 46);
    border-bottom: 1px solid rgb(44, 45, 60);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
  }
  .action-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px;
  }
  input {
    width: calc(100% - 16px);
    padding-left: 8px;
    padding-right: 8px;
    height: 33px;
  }
}








.menuItem,
.entryItem {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 8px 4px;
}

.menuItem.active,
.entryItem.active {
  background-color: rgb(28, 29, 42);
}

/*-------------*/
@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(https://cdn.jsdelivr.net/gh/RSO-Software-Engineering/RSO-UI-Kit/src/assets/fonts/Inter-UI-Medium.woff2)
    format("woff2");
}

.tb-comment {
  display: flex;
  flex-direction: column;
  color: rgb(254, 255, 254);
  padding: 12px 16px;
  background-color: rgb(32, 33, 46);
  border: 1px solid rgb(44, 46, 60);
  box-shadow: rgba(0, 0, 0, 0.098) 0 2px 4px;
  border-radius: 6px;
}

#commentArea {
  margin: 0 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tb-textarea {
  color: rgb(254, 255, 254);
  background-color: transparent;
  height: 99px;
  min-height: 1.6em;
  resize: none;
  user-select: text;
  word-break: break-word;
  border: medium;
  box-shadow: none;
  outline: none;
  font-size: 22px;
  padding: 4px;
}

.tb-textarea::placeholder {
  color: rgba(220, 216, 254, 0.376);
}

.tb-comment-textarea {
  color: rgb(254, 255, 254);
  padding: 12px 16px;
  min-width: 300px;
  background-color: rgb(32, 33, 46);
  border: 1px solid rgb(44, 46, 60);
  box-shadow: rgba(0, 0, 0, 0.098) 0 2px 4px;
  border-radius: 6px;
  resize: none;
  user-select: text;
  outline: none;
}

.tb-comment-textarea::placeholder {
  color: #63667b;
}


a {
  color: #eeeffc;
  text-decoration: none;
}

.tb-list {
  color: #eeeffc;
}

.tb-list-header {
  height: 44px;
  display: flex;
  flex-direction: row;
  cursor: default;
  gap: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.tb-list-item {
  min-height: 44px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: solid 1px rgb(37, 38, 50);
}

.tb-list-table-style > .tb-list-header > *,
.tb-list-table-style > .tb-list-item > * {
  flex: 1;
}

.tb-list .gray {
  color: rgb(105, 106, 122);
}

.tb-list-header {
  background-color: rgb(32, 33, 46);
  border-bottom: solid 1px rgb(37, 38, 50);
}

.tb-list-header:hover {
  background-color: rgb(36, 37, 50);
}

.tb-list-item {
  background-color: rgb(25, 26, 35);
}

.tb-list-item:hover {
  background-color: rgb(28, 29, 42);
}

.tb-list-header > *,
.tb-list-item > * {
  margin: auto 0;
}

.tb-list .avatar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tb-list .no-user {
  margin: 10px 4px 10px 8px;
  font-size: 16px;
  color: rgb(133, 134, 153);
}

.tb-float-right {
  margin-left: auto !important;
  display: flex;
  gap: 10px;
}

.tb-list-badge {
  margin: 10px 6px;
  padding: 2px 6px;
  font-size: 13px;
  color: rgb(133, 134, 153);
  border: 1px solid rgb(133, 134, 153);
  border-radius: 10px;
}

.tb-title {
  font-size: 22px;
  cursor: default;
}

.tb-header {
  min-height: 57px;
  max-width: 100%;
  /*padding-right: 58px;*/
  padding-left: 14px;
  display: flex;
  align-items: center;
  gap: 0;
  flex-shrink: 0;
  justify-content: space-between;
  transition: opacity 0.05s ease-in-out 0s;
  border-bottom: 1px solid rgb(44, 45, 60);
}

.tb-header-left {
  display: flex;
  gap: 8px;
  min-width: 0;
}

.tb-header-left > * {
  align-items: center;
  -moz-box-align: center;
}

#left-menu-button {
  margin-top: 3px;
  margin-left: 5px;
}

.tb-breadcrumb {
  display: flex;
  gap: 8px;
  padding-left: 8px;
  height: 31px;
}

.tb-breadcrumb > * {
  font-size: 14.625px;
  line-height: normal;
}

.tb-breadcrumb > div {
  cursor: default;
}

.tb-breadcrumb-chevron {
  color: rgb(128, 128, 128);
  font-size: 10px;
}

.tb-nav {
  display: flex;
  gap: 10px;
}

.tb-nav-link,
.tb-nav > a {
  font-size: 14.625px;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.tb-nav-link:hover:not(.active),
.tb-nav > a:hover:not(.active) {
  color: #ccccd7;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.tb-account-image {
  width: 32px;
  height: 32px;
}

.tb-table {
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: rgb(28, 29, 42);
  border-radius: 10px;
  box-shadow: rgb(49, 50, 72) 0px 0px 0px 1px inset;
  padding-left: 6px;
  padding-right: 6px;
}

.tb-table-row {
  min-height: 42px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tb-table-row > * {
  margin: auto 0;
}

.tb-table-cell {
  width: 50%;
}

.tb-table-cell-33 {
  width: 33.3%;
}

.tb-table-cell-66 {
  width: 66.6%;
}

.tb-table-cell > .form-select {
  padding: 0 !important;
}

.tb-menu,
.settings {
  position: fixed;
  width: 250px;
  padding: 10px;
  background-color: #191a23;
  border-left: 1px #2c2d3c solid;
  border-right: 1px #2c2d3c solid;
  box-shadow: rgba(0, 0, 0, 0.09) 0 3px 12px;
  color: #eeeffc;
  display: flex;
  flex-direction: column;
}

.tb-menu > a {
  height: 27px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 0.375rem;
  margin-top: 1px;
  margin-bottom: 1px;
  display: flex;
  gap: 8px;
}

.tb-menu,
.blind-menu,
.settings {
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
  height: 100vh;
}

@media (min-width: 1570px) {
  .tb-main.active {
    max-width: 1320px;
  }

  .tb-menu.active,
  .blind-menu.active,
  .settings.active {
    left: calc((100vw - (1320px + 250px)) / 2);
  }

  .tb-main.active {
    margin-left: calc((100vw - (1320px + 250px)) / 2);
  }
}

@media (max-width: 690px) {
  .tb-menu,
  .blind-menu,
  .settings {
    display: none;
  }
}

.tb-menu > a > .bi {
  color: #848598;
}

.tb-menu > a > * {
  margin: auto 0;
}

.tb-menu > a:hover,
.tb-menu .active {
  background-color: #262736;
}

.tb-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px #2c2d3c solid;
}

.tb-card-wrapper {
  display: flex;
  flex-wrap: wrap;

  .tb-card {
    position: relative;
    background-color: #191a23;
    border-style: double;
    border-radius: 10px;
    border-color: rgb(209 213 219);
    height: 250px;
    vertical-align: center;
    text-align: center;
    margin: 10px;
    min-width: 220px;
    max-width: 220px;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0 3px 12px;

    .icon {
      height: 70%;
      width: 100%;
      font-size: 100px;
    }
    .title {
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.tb-card a,
a.tb-card {
  text-decoration: none !important;
}

.tb-card.dashed {
  border-style: dashed;
}

a.tb-card:hover {
  background-color: #262736;
  cursor: pointer;
}

.tb-card .vh {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.tb-card .bi {
  font-size: 50pt;
  padding-bottom: 10pt;
}

.card {
  background-color: rgb(32, 33, 46);
  color: #eeeffc;
}

.form-control {
  background-color: rgb(32, 33, 46);
  color: #eeeffc;
}

body {
  background-color: #191a23;
  color: #eeeffc;
  font-size: 14.625px;
}

.testHint {
  margin-top: -8px;
  background-color: green;
  height: 48px;
  color: white;
  padding: 10px;
  z-index: -1;
  border-bottom-left-radius: 10px;
}

.rich .tb-ticket-link,
.rich .tb-page-link {
  background-color: rgb(51, 53, 79);
  padding: 5px;
  border-radius: 10px;
}

.tb-flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.tb-card-2 {
  background-color: rgb(32, 33, 46);
  border-right: 1px #2c2d3c solid;
}

.page-structure-item:hover,
.page-structure-item.active {
  background-color: #262736;
}

#ticketContextMenu > .dropdown-submenu > .dropdown-menu {
  margin-top: -41px;
  margin-left: 10px;
}

.tb-transparent-menu {
  backdrop-filter: blur(10px) saturate(190%) contrast(70%) brightness(80%);
  background-color: rgba(29, 30, 43, 0.498);
  border: 1px solid rgba(82, 82, 111, 0.44);
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 24px;
  border-radius: 8px;
  z-index: 1002;
}

/* tb-dropdown-start */
.tb-dropdown-menu {
  /*background: lch(56.327 10.646 284.216 / 0.2);*/
  height: 538px;
  width: 245px;
  /*position: fixed;*/
  /*transform: translate(1px, -54px);*/
  /*transform: translate(419px, 54px);*/
  /*display: flex;*/
  flex-direction: column;
  overflow: auto;
  padding-top: 4px;
  /*scrollbar-width: none;*/
  position: fixed;
  display: none;
}

.tb-dropdown-item {
  height: 30px;
  min-height: 30px;
  /*background-color: #00b894;*/
  display: flex;
  flex-direction: row;
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px 10px 0;
  border-radius: 8px;
  cursor: default;
  gap: 8px;
  margin-bottom: 2px;
}

.tb-dropdown-item * {
  pointer-events: none;
}

.tb-dropdown-item > .tb-dropdown-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tb-abbreviation {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tb-dropdown-item svg {
  margin-top: -2px;
  color: rgba(220, 216, 254, 0.576);
}

.tb-dropdown-item:hover svg:not(.tb-no-fill) {
  fill: #eeeffc;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.tb-avatar {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.tb-dialog-button > * {
  margin: auto 0;
}

.tb-dropdown-item > .tb-dropdown-indicator {
  width: 60px;
  text-align: right;
  color: rgba(220, 216, 254, 0.576);
  flex: 1;
  padding-top: 3px;
  font-size: 10px;
}

.tb-dropdown-item.tb-selected {
  background: lch(56.327 10.646 284.216 / 0.2);
}

.tb-dropdown-item:hover {
  background: lch(56.327 10.646 284.216 / 0.2);
}

.tb-dropdown-item2 {
  display: flex;
  gap: 8px;
  flex-direction: row;
  margin-left: 8px;
  height: 24px;
}

.tb-dropdown-item2 > * {
  margin: auto 0;
  color: black;
  height: 16px;
}

.tb-dropdown-item2 > * > img {
  margin: 0 !important;
  height: 16px !important;
  width: 16px !important;
}

.tb-dropdown-item2 > i {
  margin-top: 9px !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  font-size: 16px !important;
}

#project-switch {
  position: fixed !important;
  left: 10px;
  top: 50px;
}

#project-switch.active {
  left: calc((100vw - (1320px + 250px)) / 2 + 10px);
}

.profile {
  position: fixed !important;
  left: 190px;
  top: 50px;
}

.profile.active {
  left: calc((100vw - (1320px + 250px)) / 2 + 190px);
}

.profile hr {
  margin: 4px;
}

.tb-toast-2-container-2 {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 8px;
  right: 0;
  top: 8px;
  width: 384px;
  margin: 0 16px 16px;
  z-index: 1003;
}

.tb-toast-2-container-2.active {
  right: calc((100vw - (1320px + 250px)) / 2);
}

.modal {
  z-index: 1002;
}

.modal-backdrop {
  z-index: 1001;
}

.tb-toast-2 {
  display: none;
  height: 68px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 24px;
  transition: transform 0.6s ease-in-out 0s;
  backdrop-filter: blur(20px) saturate(190%) contrast(70%) brightness(80%);
  background-color: rgba(29, 30, 43, 0.498);
  border: 1px solid rgba(82, 82, 111, 0.44);
  padding: 12px;
}

.tb-toast-2.issue {
  height: 100px;
}

.tb-toast-2-link {
  color: rgb(133, 133, 255);
  padding: 0 4px;
  border-radius: 4px;
}

.tb-toast-2-link:hover {
  background-color: lch(56.327 10.646 284.216 / 0.2);
}

.tb-toast-2-content {
  cursor: default;
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: flex-start;
}

.tb-toast-2-text {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  gap: 6px;
  line-height: normal;
}

.tb-toast-2-content-2-hint {
  color: rgba(220, 216, 254, 0.576);
}

.tb-menu-right {
  border-top: 1px solid rgb(53, 56, 74);
  width: 340px;
  border-right: 1px solid rgb(53, 56, 74);
  transition: box-shadow 150ms ease 0s;
  background: rgb(32, 33, 46);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 57px);
  max-height: 100%;
  overflow: auto;
  color: rgb(238, 239, 252);
}

.tb-menu-right-header {
  height: 57px;
  min-height: 57px;
  padding: 0px 24px;
  border-bottom: 1px solid rgb(53, 56, 74);
  display: flex;
  /*flex: 1 1 auto;*/
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  color: rgb(156, 158, 172);
}

.tb-menu-right-body {
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tb-menu-right-body-row {
  display: flex;
  flex-direction: row;
}

.tb-menu-right-body-row > * {
  /*flex: 1;*/
  color: rgb(156, 158, 172);
  padding: 4px 8px;
  height: 30px;
}

.tb-menu-right-body-row-title {
  min-width: 80px;
  cursor: default;
  user-select: none;
}

.tb-menu-right-body-row-details {
  /*display: inline-flex;*/
  border-radius: 4px;
  transition-property: border, background-color, color, opacity;
  color: rgb(228, 229, 244);
  min-width: 150px;
  cursor: default;
  user-select: none;
  display: inline-flex;
  justify-content: start;
  white-space: nowrap;
  margin: 0;
  gap: 4px;
  border: 1px solid transparent;
}

.tb-inline-button {
  border-radius: 4px;
  transition-property: border, background-color, color, opacity;
  color: rgb(228, 229, 244);
  /*min-width: 150px;*/
  height: 30px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: default;
  user-select: none;
  display: inline-flex;
  justify-content: start;
  white-space: nowrap;
  margin: 0;
  gap: 4px;
  border: 1px solid transparent;
}

.tb-inline-button:hover {
  background-color: rgba(82, 82, 121, 0.25);
  border: 1px solid rgba(82, 82, 111, 0.44);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 1px;
}

.tb-title-bar {
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  height: 44px;
  gap: 8px;
}

.tb-title-bar > * {
  margin: auto 0;
}

.tb-row {
  display: flex;
  flex-direction: row;
  /*height: 100%;*/
  gap: 8px;
}

.tb-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tb-column-max {
  height: calc(100vh - 57px);
  overflow: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.blurredBackground {
  position: fixed;
  background-color: rgba(240, 240, 240, 0.1);
  backdrop-filter: blur(6px) saturate(150%) contrast(100%) brightness(80%);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
}



.overlay-menu {
  box-shadow: rgba(0, 0, 0, 0.09) 0 3px 12px;
  backdrop-filter: blur(12px) saturate(190%) contrast(50%) brightness(130%);
  border-radius: 8px;
  border: 1px solid rgb(223, 225, 228);
  background-color: rgba(240, 240, 240, 0.5);
  width: 300px;
  z-index: 10;
  padding: 5px;
}


.tb-modal {
  width: 400px;
  z-index: 1001 !important;
  position: fixed;
  left: calc((100vw - 400px) / 2);
  top: 50px;
  padding: 10px;
}

.tb-modal-title {
  margin-right: auto !important;
}

.tb-modal > .form-floating {
  margin-top: 8px;
}

.tb-modal .form-control {
  background-color: rgba(249, 250, 251, 0.5);
}

.tb-modal label::after {
  background-color: rgba(249, 250, 251, 0.0) !important;
}

.tb-modal > .btn {
  margin-top: 8px;
}

.tb-modal .remove-modal {
  font-size: 21px;
  position: absolute;
  right: 5px;
  top: 4px;
  margin-left: 15px;
  cursor: pointer;
  color: dimgray;
}

.tb-modal .remove-modal:hover {
  color: black;
}

.inline > * {
  display: inline-block;
}

.inline > .btn {
  margin-bottom: 6px;
  padding-bottom: 2px;
}


.btn-primary {
  font-family: 'Inter UI', sans-serif;
  background-color: rgb(79 70 229);
}

.btn-primary:hover {
  background-color: rgb(99 102 241);
}

.nowrap {
  white-space: nowrap;
}

a {
  font-family: 'Inter UI', sans-serif;
}


.tb-input-wrapper {
  position: relative;
  width: 100%;
}

.tb-input {
  background-color: rgba(240, 240, 240, 0.5);
  box-shadow: rgba(0, 0, 0, 0.09) 0 3px 12px;
  backdrop-filter: blur(12px) saturate(190%) contrast(50%) brightness(130%);
  width: 100%;
  padding: 5px;
  cursor: pointer;
  display: flex;
  border: 1px solid rgb(223, 225, 228);
  border-radius: 8px;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.tb-input > .tb-input-title {
  margin-right: auto;
}

.tb-input-choice {
  padding: 5px;
  margin-top: 4px;
  border-radius: 8px;
  width: 100%;
  position: absolute;
  top: 40px;
  z-index: 100;
  max-height: 200px;
  overflow: scroll;
}

.tb-input-choice-entry {
  cursor: pointer;
  height: 32px;
  width: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  padding-top: 4px;
  padding-left: 4px;
}

.tb-input-choice-entry > img, .tb-input-title > img {
  margin-right: 8px;
}

.tb-input-choice-entry:hover {
  background: rgba(220, 220, 220, 0.3);
}

.tb-badge {
  background-color: #f0fdf4;
  font-size: 13px;
  border: 2px solid #c4ebd2;
  color: #328055;
  border-radius: 10px;
  margin: 0;
  width: 60px;
  text-align: center;
  margin-top: 8px;
  margin-left: 76px;
}

.tb-legacy-row > *, .vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui-menu {
  background-color: white;
  width: 200px;
}

.ui-menu > li {
  list-style: none;
  cursor: pointer;
}
